body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container { 
    display: flex;
    margin: 0 auto;
    width: 966px;
    flex-direction: column;
}

.accordion {
    overflow:hidden;
    max-height: 39px;
    box-sizing: border-box;
    transition: max-height 1s ease-in-out;
    margin: 0 0 2px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: #cecece;
    padding: 10px 5px 10px 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    
}

.content {
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    width: 99%;
}
.content p {
    padding: 0;
    box-sizing: border-box;
}

.active {
    transition: background-color,color,padding 1s ease;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0px 10px 10px;
}
.not-active {
    transition: background-color,color,padding 1s ease;
    background-color: #cecece;
    color: #000000;
    padding: 10px 5px 10px 5px;
}



